  <div class="container">
    <div class="wrapper col-md-6 col-md-offset-2 col-sm-10">
      <h4>トピックを更新する</h4>
        <% if @topic.image? %>
        <%= image_tag @topic.image ,width:"400" %>
        <% else %>
        <%= image_tag 'noimage.gif' %>
       <% end %>
       <%= render 'form' %>
    </div>
  </div>
</h4>
